* {
  margin: 0;
  padding: 0;
}

.bg-orange {
  background-color: orange;
}

%bg-grey {
  background-color: grey;
}

%grid {
  display: grid;
  color: white;
}

.calculator {
  @extend %grid;

  grid-template-rows: 50px auto;
  width: max-content;
  margin: auto;

  .display {
    @extend %bg-grey;

    text-align: right;
    padding: 15px;
  }

  .keyboard {
    @extend %grid;

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 50px);

    .span-two-col {
      grid-column: span 2;
    }
  }
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%justify-between {
  justify-content: space-between;
}

%align-center {
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 20px;
  background-color: #17062a;
  color: #fde143;
}

.header {
  @extend %flex-row;
  @extend %justify-between;
  @extend %align-center;
  margin-bottom: 50px;

  nav {
    @extend %flex-row;
    gap: 10px;

    a {
      color: inherit;

      & + a {
        &::before {
          content: '|';
          margin-right: 10px;
        }
      }
    }

  }
}
